# Backend - MusicApp Valledupar
PORT=3000
# Preferir `MONGODB_URI` para una conexión completa (p. ej. MongoDB Atlas):
# MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/musicapp_valledupar?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/musicapp_valledupar

# Alternativamente puede proporcionar HOST(s) en redes locales:
# MONGO_HOST=192.168.1.50
# MONGO_HOSTS=192.168.1.50,192.168.1.51
JWT_SECRET=your_jwt_secret_here
CLIENT_ORIGIN=http://localhost:3000

# Socket.IO
SOCKET_PORT=4000
SOCKET_PATH=/socket.io

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
